.nav-item .nav-link .icon-nav{
    width: 25px;
    height: 25px;
}
.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0;
}
.layout-nav{
    width: 4.5rem;
    background-color: #27374D;
}
.bi.bi-justify{
    font-size: 2rem;
    padding: 0.5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #2e435f;
}