.cart-total {
  width: 50%;
}
.cart-total .title {
  background-color: #e9e9e9;
  margin: 0;
  padding: 0;
  padding: 15px;
}
.cart-total .content {
  background-color: #f8f6f6;
  padding: 15px 20px;
  line-height: 1.6rem;
}
.content div {
  display: flex;
}
