.home {
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* banner */
.banner-direct-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  margin-bottom: 100px;
  overflow: hidden;
}
.banner-container-home {
  overflow: hidden;
  position: relative;
}
.banner-highlight {
  width: 100%;
}
.banner-highlight img {
  width: 100%;
  transition: all 1s ease;
}
.banner-highlight:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.content-banner {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.banner-link-to {
  position: relative;
}
.content-banner h1 {
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}
.content-banner p {
  margin-bottom: 5px;
}
.content-banner a {
  color: white;
}
.content-banner a:hover {
  color: white;
}
.banner-link-to::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 2px;
  width: 100%;
  left: 1px;
  background-color: white;
  transition: all ease-in-out 0.3s;
}
.banner-link-to:hover::after {
  width: 50%;
  left: 25%;
}
/* shop style */
.shop-style {
  margin: 0 auto;
  max-width: 1600px;
  margin-bottom: 100px;
  padding: 15px;
  width: 100%;
}
.shop-style h1 {
  margin-bottom: 30px;
}
.shop-by-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.shop-by-style-cotainer {
  position: relative;
  overflow: hidden;
}
.bg-highlight::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 60%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0, transparent);
  z-index: 100;
}
.shop-style-content-container {
  width: 60%;
  font-size: 15px;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%);
  z-index: 100;
  transition: 0.5s;
}
.shop-style-content-container h2 {
  font-size: 25px;
  width: 100%;
}
.bg-highlight-img {
  width: 100%;
  transition: 1s;
}
.bg-highlight-img img {
  width: 100%;
  transition: all 1s ease;
}
.bg-highlight-img:hover img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.hidden-link-to {
  display: none;
  transition: 2s ease-in;
  position: relative;
}
.hidden-link-to a {
  color: white;
}
.bg-highlight-img:hover .shop-style-content-container {
  bottom: 60px;
}
.hidden-link-to::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 2px;
  width: 100%;
  left: 1px;
  background-color: white;
  transition: all ease-in-out 0.3s;
}
.bg-highlight-img:hover .hidden-link-to {
  display: inline-block;
}
.hidden-link-to:hover::after {
  width: 50%;
  left: 25%;
}
