.login-container {
  margin: 0 auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://www.cleanipedia.com/images/5iwkm8ckyw6v/2BFigZgUEMCk0v55yfycxa/e9ae78c9f4ce46f417aa1c1b03f98333/bm9pLXRoYXQtcGhvbmcta2hhY2gtZ29tLW5odW5nLWdpLmpwZWc/990w-660h/n%E1%BB%99i-th%E1%BA%A5t-ph%C3%B2ng-kh%C3%A1ch-g%E1%BB%93m-nh%E1%BB%AFng-g%C3%AC-v%C3%A0-c%C3%A1ch-l%E1%BB%B1a-ch%E1%BB%8Dn-ph%C3%B9-h%E1%BB%A3p.jpg");
}

.login-container .form-group {
  margin-bottom: 10px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ff2002;
  border-radius: 4px;
  background: transparent;
}

.login-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}
.login-form {
  background: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
}
.direct {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: white;
  cursor: pointer;
  transition: 0.15s all;
}
.direct:hover {
  background-color: yellow;
}
